In [5]:
import pandas as pd
import datetime

In [6]:
df = pd.read_csv("green_tripdata_2020-10.csv")
df.head()

/var/folders/j4/3bcsts1575195393dj3gg_cw0000gn/T/ipykernel_7536/2678185843.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("green_tripdata_2020-10.csv")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0

In [7]:
date_example = df.iloc[0,1]
date = pd.to_datetime(date_example)
print(date)

2020-10-01 00:31:19

In [8]:
year = date.year
print(year)

2020

In [14]:
df["lpep_pickup_date"] = pd.to_datetime(df["lpep_pickup_datetime"])

In [15]:
df["lpep_pickup_date"]

0       2020-10-01 00:31:19
1       2020-10-01 00:42:12
2       2020-10-01 00:53:09
3       2020-10-01 00:12:29
4       2020-10-01 00:32:38
                ...
95115   2020-10-19 14:28:00
95116   2020-10-19 14:57:00
95117   2020-10-19 14:01:00
95118   2020-10-19 14:53:00
95119   2020-10-19 14:22:00
Name: lpep_pickup_date, Length: 95120, dtype: datetime64[ns]

In [18]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'lpep_pickup_date'],
      dtype='object')

In [19]:
df.columns = df.columns.str.replace(" ","_").str.lower()
df

,vendorid,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecodeid,pulocationid,dolocationid,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.00,...,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0,2020-10-01 00:31:19
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.00,...,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0,2020-10-01 00:42:12
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.00,...,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0,2020-10-01 00:53:09
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.50,...,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0,2020-10-01 00:12:29
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.50,...,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0,2020-10-01 00:32:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95115,NaN,2020-10-19 14:28:00,2020-10-19 14:46:00,NaN,NaN,130,70,NaN,6.29,27.70,...,0.0,2.75,0.0,NaN,0.3,30.75,NaN,NaN,NaN,2020-10-19 14:28:00
95116,NaN,2020-10-19 14:57:00,2020-10-19 15:21:00,NaN,NaN,13,42,NaN,11.42,41.11,...,0.0,2.75,0.0,NaN,0.3,44.16,NaN,NaN,NaN,2020-10-19 14:57:00
95117,NaN,2020-10-19 14:01:00,2020-10-19 14:13:00,NaN,NaN,61,62,NaN,1.33,16.73,...,0.0,2.75,0.0,NaN,0.3,19.78,NaN,NaN,NaN,2020-10-19 14:01:00
95118,NaN,2020-10-19 14:53:00,2020-10-19 14:59:00,NaN,NaN,205,10,NaN,1.40,18.58,...,0.0,2.75,0.0,NaN,0.3,21.63,NaN,NaN,NaN,2020-10-19 14:53:00
95119,NaN,2020-10-19 14:22:00,2020-10-19 15:02:00,NaN,NaN,106,14,NaN,4.60,25.79,...,0.0,2.75,0.0,NaN,0.3,28.84,NaN,NaN,NaN,2020-10-19 14:22:00

In [34]:
df.tail()

,vendorid,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecodeid,pulocationid,dolocationid,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date
95115,NaN,2020-10-19 14:28:00,2020-10-19 14:46:00,NaN,NaN,130,70,NaN,6.29,27.70,...,0.0,2.75,0.0,NaN,0.3,30.75,NaN,NaN,NaN,2020-10-19 14:28:00
95116,NaN,2020-10-19 14:57:00,2020-10-19 15:21:00,NaN,NaN,13,42,NaN,11.42,41.11,...,0.0,2.75,0.0,NaN,0.3,44.16,NaN,NaN,NaN,2020-10-19 14:57:00
95117,NaN,2020-10-19 14:01:00,2020-10-19 14:13:00,NaN,NaN,61,62,NaN,1.33,16.73,...,0.0,2.75,0.0,NaN,0.3,19.78,NaN,NaN,NaN,2020-10-19 14:01:00
95118,NaN,2020-10-19 14:53:00,2020-10-19 14:59:00,NaN,NaN,205,10,NaN,1.40,18.58,...,0.0,2.75,0.0,NaN,0.3,21.63,NaN,NaN,NaN,2020-10-19 14:53:00
95119,NaN,2020-10-19 14:22:00,2020-10-19 15:02:00,NaN,NaN,106,14,NaN,4.60,25.79,...,0.0,2.75,0.0,NaN,0.3,28.84,NaN,NaN,NaN,2020-10-19 14:22:00

In [29]:
"vendorid" in df.columns

True

In [27]:
df[df["passenger_count"] == 0]["passenger_count"].sum() == 0

True

In [ ]:
for i in range(len(df)):
    row = date_series = df.loc[i,:]
    date_series = row["lpep_pickup_datetime"]
    date = pd.to_datetime(date_series)
    year = date.year
    month = date.month
    if ((year == 2020) & (10<=month<=12)):
        df_row = pd.DataFrame(row).T
        df_filter = pd.concat([df_filter, df_row])

In [32]:
df["vendorid"].unique()

array([ 2.,  1., nan])

In [42]:
df["lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95120 entries, 0 to 95119
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendorid               52610 non-null  float64
 1   lpep_pickup_datetime   95120 non-null  object
 2   lpep_dropoff_datetime  95120 non-null  object
 3   store_and_fwd_flag     52610 non-null  object
 4   ratecodeid             52610 non-null  float64
 5   pulocationid           95120 non-null  int64
 6   dolocationid           95120 non-null  int64
 7   passenger_count        52610 non-null  float64
 8   trip_distance          95120 non-null  float64
 9   fare_amount            95120 non-null  float64
 10  extra                  95120 non-null  float64
 11  mta_tax                95120 non-null  float64
 12  tip_amount             95120 non-null  float64
 13  tolls_amount           95120 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  95120 non-null  float64
 16  total_amount           95120 non-null  float64
 17  payment_type           52610 non-null  float64
 18  trip_type              52610 non-null  float64
 19  congestion_surcharge   52610 non-null  float64
 20  lpep_pickup_date       95120 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(15), int64(2), object(3)
memory usage: 15.2+ MB

AttributeError: 'Series' object has no attribute 'date'